---
// LinksSection.astro - Static links section
---

<footer id="links" class="bg-gray-900 py-8 px-4 md:px-8">
  <div class="flex flex-col gap-2 text-left">
    <a href="https://fullstackdrip.com" class="font-mono font-semibold text-blue-400 hover:underline">Full Stack Drip Website</a>
    <a href="https://www.instagram.com/fullstackdrip" class="font-mono font-semibold text-pink-400 hover:underline">Full Stack Drip on Instagram</a>
    <a href="https://www.youtube.com/@FullStackDrip/shorts" class="font-mono font-semibold text-red-400 hover:underline">Full Stack Drip on YouTube</a>
    <a href="https://bsky.app/profile/fullstackdrip.com" class="font-mono font-semibold text-cyan-400 hover:underline">Full Stack Drip on Bluesky</a>
    <a href="https://linkedin.com/in/leeflannery" class="font-mono font-semibold text-blue-400 hover:underline">Lee on LinkedIn</a>
    <a href="https://github.com/leeflannery" class="font-mono font-semibold text-green-400 hover:underline">Lee on Github</a>
    <a href="https://cal.com/releasemode-lee" class="font-mono font-semibold text-yellow-400 hover:underline">Set up a Zoom</a>
    <a href="https://releasemode.com" class="font-mono font-semibold text-purple-400 hover:underline">Release Mode LLC</a>
    <div class="mt-6 text-right text-gray-500 text-sm font-mono">Created by Lee Flannery</div>
  </div>
</footer> 